@model IEnumerable<WebApplication2.Models.Student_Test>

@{
    ViewBag.Title = "viewstudent";
}

<h2><center>Student Details</center></h2>

<center>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.student_id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.@class)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.student_id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.@class)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Editstudent", new { id = item.student_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.student_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.student_id })
                </td>
            </tr>
        }

    </table>
</center>
